body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-color: black;
    background-position: center;
}

.game-backbuttons h3{
    text-align: left;
    padding-left: 10px;
}

.game-backbuttons h3:hover{
    background-color: rgb(252, 224, 229);
}
